@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root { 
    --color-primary-blue: hsl(218, 44%, 22%);
    --color-neutral-blue: hsl(220, 15%, 55%);
    --color-neutral-gray:hsl(212, 45%, 89%);
    --color-white: hsl(0, 0%, 100%);
  
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  html, body {
   height: 100%;
   background: var(--color-neutral-gray);
  }
  
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture, 
  svg {
    max-width: 100%;
    display: block;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .card {
    background-color: var(--color-white);
    border-radius: 20px;
    
    max-width: 20rem;
    padding: 1rem;
    margin: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);;
}

img {
  border-radius: 10px;
}

h1 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.7rem;
    padding: 1rem 0 1rem 0;

  }
  
  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--color-neutral-blue);
    padding-bottom: 1rem;
  }

footer {
 position: absolute;
 bottom: 0;
}

  .attribution {
    color: var(--color-neutral-blue);
    
  }

  .attribution a {
    color: var(--color-primary-blue);
  }
  

